.gradient0{
    background-image: linear-gradient(90deg, #007bff);
    width: 100px;
}

.gradient1{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 115px;
}

.gradient2{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 130px;
}

.gradient3{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 145px;
}

.gradient4{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 160px;
}

.gradient5{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 175px;
}

.gradient6{
    background-image: linear-gradient(90deg, #007bff, #FFFFFF);
    width: 190px;
}

.outputTable, td{
    padding: 10px 10px;
}

.progress-bar-adjustment{
    margin-bottom: 1px;
}

.table-key-blue{
    background-color: #007bff;
    color: white;
}

.table-key-light-blue{
    background-color: #17a2b8;
    color: white;
}

.table-key-opaque-blue{
    background-color: #007bff;
    color: white;
    opacity: .7;
}

.td-breath{
    background-color: rgba(23, 164, 186, 0.05)
}

.td-label{
    opacity: .68;
}

.td-syl{
    background-color: rgba(23, 162, 184, 0.1);
}

.td-word{
    background-color: rgba(23, 164, 186, 0.05)
}
