body{
    background-color: #BBC8CA;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
  margin: 20px 10px 0px 10px;
  padding-bottom: 0px;
}

.big-container{
    background-color: white;
    height: 100%;
    padding: 15px 15px;
    width: 100%;
    box-shadow: 0 10px 6px -6px #777;
}

.full-width-editor{
    height: 100vh;
    width: 100vw;
}

.make-row-big{
    height: 100vh;
}

.small-container{
    height: 100%;
    width: 100%;
}

.textarea-forms-right-size{
    height: 100%;
    width: 100%;
}

input:focus, textarea {
    outline: none !important;
}
